body {
    background-color: black;
    color: white;
    font-family: 'Oxygen', sans-serif;
}

#header {
    background-color: lightcyan;
    color: darkslategray;
    min-width: 100px;
    margin: auto;
    width: 50%;
    padding: 10px;
    border: 3px solid white;
    text-align: center;

    
}

.calculator {
    background-color: darkslategray;
    color:lightcyan;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    border: 3px solid white;

}
.entry{
    display: inline-block;
    clear: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}
.box {
    display: inline-block;
    clear: left;
    width: 150px;
    padding:0%
}



.copy {
    background-color: darkslategray;
    color:lightcyan;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    border: 3px solid white;
}

.header {
        background-color: lightcyan;
        color: darkslategray;
        min-width: 100px;
        margin: auto;
        width: 50%;
        padding: 10px;
        border: 3px solid white;
        text-align: center;
}

.lossAdjustment {
    background-color: lightcyan;
    color: darkslategray;
    min-width: 100px;
    margin: auto;
    width: 50%;
    padding: 10px;
    border: 3px solid white;
    text-align: center;

}