body {
    color:white;
    background-color: black;
}
.a {
    color:white;
    transition: 0.3s;
}
.a:hover {
    transition: 0.3s;
}

#buttonPadding {
    padding-top: 10%;
    padding-bottom: 10%;
}

#buttonMargin {
    margin-right: 100px;
}

#tableMargins {
    margin-top: 5%;
}

#submitSpacing {
    margin-top: 10%;
}

#resultsSpacing {
    margin-left: 33%;
    margin-right: 33%;
    margin-top: 6%;
    margin-bottom:6%;
}